<div class="app-border status">
  <div>
    <span>{{USER_STATUS.STATUS}}</span>
  </div>
  <div>
    <label>{{USER_STATUS.CASH}}</label>
    <span>{{cash}}</span>
  </div>
  <div>
    <label>{{USER_STATUS.BALANCE}}</label>
    <span>{{balance}}</span>
  </div>
  <div>
    <label>{{USER_STATUS.DEBT}}</label>
    <span>{{debt}}</span>
  </div>
  <div>
    <label>{{USER_STATUS.HEALTH}}</label>
    <span>{{health}}</span>
  </div>
  <div>
    <label>{{USER_STATUS.REPUTATION}}</label>
    <span>{{reputation}}</span>
  </div>  
</div>